#
# This source file is part of the Stanford Biodesign Digital Health HealthBench project
#
# SPDX-FileCopyrightText: 2025 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

# Swift Package Manager
.swiftpm
.derivedData
.build
!HealthBench.xcodeproj

# IDE related folders
.idea

# Xcode
xcuserdata/
*.ipa
*.dSYM
*.dSYM.zip

# Other files
.DS_Store
.env

# Tests
report.junit
report.html
*.xcresult
